/* Estilos CSS para as cores dos jogadores */
.player-1 {
    background-color: blue;
    color: white;
}

.player-2 {
    background-color: red;
    color: white;
}

.player-3 {
    background-color: green;
    color: white;
}

.player-4 {
    background-color: purple;
    color: white;
}

.player-5 {
    background-color: yellow;
    color: black;
}

.player-6 {
    background-color: black;
    color: white;
}

/* Estilos CSS para os quadrados representando territórios */
.territorio{
    width: 100px;
    height: 100px;
    position: relative; /* Ou position: absolute; para posicionamento absoluto */
    top: 50px; /* Posição vertical */
    left: 50px; /* Posição horizontal */
}